# ==========================================
# Crypto Trading Master Dashboard - Backend
# ==========================================

# 전략 및 지표 계산 핵심 라이브러리
pandas
# 반드시 하이픈(-)을 사용해야 설치됩니다.
pandas-ta
numpy

# API 서버 및 통신
fastapi
uvicorn
pydantic
websockets

# 거래소 연동 및 환경 설정
ccxt
python-dotenv